 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .calculadora {
    background: #b51616;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid black;
  }

  #visor {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
    border-radius: 15px;
    border: 3px solid black;
    color: white;
    background-color: black;
  }

  .Botões button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    border-radius: 40px;
    color: white;
    background-color: black;
    border: 3px solid rgb(255, 255, 255);
  }